<section class="[ filtros ]">
	<%= render partial: 'spree/shared/filters' %>
</section><!-- filtros -->

<% if @products %>
	<section class="[ featured-products ]">
		<% @products.each do |product| %>
			<%= render 'product', :product => product %>
		<% end %>
	</section>
<% end %>
