<section class="[ heroes ]">
	<%= render partial: 'spree/shared/hero' %>
</section><!-- heroes -->

<section class="[ call-to-action ]">
	<h3 class="[ text-center ]">¡Invita a tus amigos y gana dinero!</h3>
	<a href="" class="[ button ]">Invitar amigos</a>
</section>

<% if @products_nuestra_seleccion %>
	<section class="[ nuestra_seleccion ]">
		<h3 class="[ text-center ]">Nuestra selección</h3>
		<%= render partial: "product", collection: @products_nuestra_seleccion %>
		<%# @products_nuestra_seleccion.each do |product| %>
			<%# render 'product', :product => product %>
		<%# end %>
	</section>
<% end %>

<section class="[ call-to-action ]">
	<h3 class="[ text-center ]">Vende tus muebles</h3>
	<div class="[ square ][ border ][ columna xmall-6 ]">
		<img src="images" alt="" class="[ thumbnail ][ block center ]">
		<h4 class="[ text-center ]">Adam Smith</h4>
		<p class="[ text-center ][ color-highlight ]">Top Seller</p>
	</div>
	<div class="[ square ][ border ][ columna xmall-6 ][ text-center ]" style="backgound-image: url('#')">
		<h3 class="[ text-center ]">Comienza a Vender</h3>
		<a class="[ button button--small ]">
			agregar al carrito
		</a>
	</div>
</section>

<% if @products_sillones %>
	<section class="[ sillones ]">
		<h3 class="[ text-center ]">Sillónes</h3>
		<% @products_sillones.each do |product| %>
			<%= render 'product', :product => product %>
		<% end %>
	</section>
<% end %>
