<section class="[ margin-bottom--large ]">
	<h2>Typography</h2>
	<hr />
	<h2>H2 - Title</h2>
	<h3>H3 - Title</h3>
	<h4>H4 - Title</h4>
	<h5>H5 - Title</h5>
	<h6>H6 - Title</h6>
	<p>Invidiosum nomen est, infame, suspectum. Torquatus, is qui consul cum Cn. Quo modo autem optimum, si bonum praeterea nullum est? Duo Reges: constructio interrete. Scrupulum, inquam, abeunti; Restatis igitur vos; Nam neque virtute retinetur ille in vita, nec iis, qui sine virtute sunt, mors est oppetenda.</p>
</section>

<section class="[ margin-bottom--large ]">
	<h2>Colors</h2>
	<hr />
	<div class="[ row ]">
		<div class="[ columna xmall-4 ]">
		<div class="[ bg-light ][ padding--small ]">
			<h6 class="[ color-dark ]">Light</h6>
		</div>
		<div class="[ bg-light-hover ][ padding--small ]">
			<h6 class="[ color-dark ]">Light - Hover</h6>
		</div>
	</div>
	<div class="[ columna xmall-4 ]">
		<div class="[ bg-dark ][ padding--small ]">
			<h6 class="[ color-light ]">Dark</h6>
		</div>
		<div class="[ bg-dark-hover ][ padding--small ]">
			<h6 class="[ color-light ]">Dark - Hover</h6>
		</div>
	</div>
	<div class="[ columna xmall-4 ]">
		<div class="[ bg-grey ][ padding--small ]">
			<h6 class="[ color-light ]">Grey</h6>
		</div>
		<div class="[ bg-grey-hover ][ padding--small ]">
			<h6 class="[ color-light ]">Grey - Hover</h6>
		</div>
	</div>
	<div class="[ columna xmall-4 ]">
		<div class="[ bg-primary ][ padding--small ]">
			<h6 class="[ color-light ]">Primary</h6>
		</div>
		<div class="[ bg-primary-hover ][ padding--small ]">
			<h6 class="[ color-light ]">Primary - Hover</h6>
		</div>
	</div>
	<div class="[ columna xmall-4 ]">
		<div class="[ bg-highlight ][ padding--small ]">
			<h6 class="[ color-light ]">Highlight</h6>
		</div>
		<div class="[ bg-highlight-hover ][ padding--small ]">
			<h6 class="[ color-light ]">Highlight - Hover</h6>
		</div>
	</div>
	<div class="[ columna xmall-4 ]">
		<div class="[ bg-danger ][ padding--small ]">
			<h6 class="[ color-light ]">Danger</h6>
		</div>
		<div class="[ bg-danger-hover ][ padding--small ]">
			<h6 class="[ color-light ]">Danger - Hover</h6>
		</div>
	</div>
	</div><!-- row -->
</section>

<section class="[ margin-bottom--large ]">
	<h2>Buttons</h2>
	<hr />
	<div class="[ text-center ]">
		<a href="#" class="[ button ]">Default button</a>
		<a href="#" class="[ button button--primary ]">Primary button</a>
		<a href="#" class="[ button button--highlight ]">Highlight button</a>
		<span class="[ inline-block ][ bg-highlight ]">
			<a href="#" class="[ button button--hollow ]">Hollow button</a>
		</span>
		<span class="[ inline-block ][ bg-dark ]">
			<a href="#" class="[ button button--ink ][ color-light ]">Ink button</a>
		</span>
		<span class="[ inline-block ][ bg-light ]">
			<a href="#" class="[ button button--ink ][ color-dark ]">Ink button</a>
		</span>
		<a href="#" class="[ button button--ink color-danger ]">Negative actions</a>
		<a href="#" class="[ button button__action ]"><i class="[ icon-menu ]"></i></a>
		<a href="#" class="[ button button__action ]"><i class="[ icon-cart ]"></i></a>
		<a href="#" class="[ button button__action ]"><i class="[ icon-close ]"></i></a>
	</div>
</section>

<section class="[ margin-bottom--large ]">
	<h2>Form</h2>
	<hr />
	<article class="[ margin-bottom--small ]">
		<h3>Input</h3>
		<input type="text" placeholder="Text input"><label class="[ color-primary ]" for="">*</label>
	</article>
	<article class="[ margin-bottom--small ]">
		<h3>Input group</h3>
		<div class="input-group">
			<input type="text" placeholder="tu@correo.com" name="MERGE0" id="MERGE0">
			<span class="input-group-addon">
				<button type="submit" name="submit"><i class="[ icon-newsletter ]"></i></button>
			</span>
		</div>
		<div class="input-group">
			<input type="text" placeholder="tu@correo.com" name="MERGE0" id="MERGE0">
			<span class="input-group-addon">
				<button type="submit" name="submit">Submit</button>
			</span>
		</div>
	</article>
	<article class="[ margin-bottom--small ]">
		<h3>Checkboxes</h3>
		<fieldset>
			<input type="chechbox"><i class="[ icon-dog ]"></i> Perros
			<input type="chechbox" checked="checked"><i class="[ icon-dog ]"></i> Perros
		</fieldset>
	</article>
	<article class="[ margin-bottom--small ]">
		<h3>Selecttion Checkboxes</h3>
		<fieldset>

		</fieldset>
	</article>
	<article class="[ margin-bottom--small ]">
		<h3>Range</h3>
		<fieldset>
			<select name="" id="">
				<option value="0">0</option>
				<option value="1000">1000</option>
			</select>
		</fieldset>
	</article>
</section>

<section class="[ margin-bottom--large ]">
	<h2>Styles</h2>
	<hr />
	<article class="[ margin-bottom--small ]">
		<h3>Bordered</h3>
		<div class="[ border ]">
			Bordered element
		</div>
	</article>
	<article class="[ margin-bottom--small ]">
		<h3>Squared</h3>
		<div class="[ square ]">
			Square element
		</div>
	</article>
</section>

<section class="[ margin-bottom--large ]">
	<h2>Lists</h2>
	<hr />
	<ul>
		<li>
			<span class="highliht"><i class="[ icon-clock ]"></i> nombre: </span> descripción
		</li>
		<li>
			<span class="highliht"><i class="[ icon-clock ]"></i> nombre: </span> descripción
		</li>
	</ul>
</section>

<section class="[ margin-bottom--large ]">
	<h2>Icons</h2>
	<div class="[ row ]">
		<div class="[ columna xmall-1 ]">
			<i class="[ icon-menu ]"></i>
		</div>
		<div class="[ columna xmall-1 ]">
			<i class="[ icon-menu ]"></i>
		</div>
		<div class="[ columna xmall-1 ]">
			<i class="[ icon-menu ]"></i>
		</div>
		<div class="[ columna xmall-1 ]">
			<i class="[ icon-menu ]"></i>
		</div>
		<div class="[ columna xmall-1 ]">
			<i class="[ icon-menu ]"></i>
		</div>
		<div class="[ columna xmall-1 ]">
			<i class="[ icon-menu ]"></i>
		</div>
		<div class="[ columna xmall-1 ]">
			<i class="[ icon-menu ]"></i>
		</div>
		<div class="[ columna xmall-1 ]">
			<i class="[ icon-menu ]"></i>
		</div>
		<div class="[ columna xmall-1 ]">
			<i class="[ icon-menu ]"></i>
		</div>
		<div class="[ columna xmall-1 ]">
			<i class="[ icon-menu ]"></i>
		</div>
		<div class="[ columna xmall-1 ]">
			<i class="[ icon-menu ]"></i>
		</div>
		<div class="[ columna xmall-1 ]">
			<i class="[ icon-menu ]"></i>
		</div>
	</div><!-- row -->
</section>