<div id="spree-footer">
	<div class="container">
		<footer id="footer" class="" data-hook>
			<div class="[ border ]">
				<h3 class="[ title ] [ text-center ]">Suscríbete a nuestro newsletter</h2>
				<form class="[ form form--large ]" action="http://mobilly.us10.list-manage1.com/subscribe/post" method="POST">
					<fieldset class="[ columna xmall-12 medium-6 ][ center ]">
						<div class="input-group">
							<input type="hidden" name="u" value="0511c8319e03329d800c3ac07">
							<input type="hidden" name="id" value="dd4085bde0">
							<input type="text" placeholder="tu@correo.com" name="MERGE0" id="MERGE0">
							<span class="input-group-addon">
								<button type="submit" name="submit"><i class="[ icon-newsletter ]"></i></button>
							</span>
						</div>
					</fieldset>
				</form>
			</div><!-- border -->
			<div class="[ text-center ][ margin-bottom ]" data-hook>
				<a href="#">¿Quiénes somos?</a>
				<a href="#">¿Cómo funciona?</a>
				<a href="#">FAQs</a>
				<a href="#">Trabaja con nosotros</a>
				<a href="#">Devoluciones y reembolsos</a>
				<a href="#">Términos y condiciones</a>
				<a href="#">Política de privacidad</a>
				<a href="#">Ayúdanos a transportar</a>
				<a href="#">Contacto</a>
			</div>
			<p class="[ text-center ]">
				© 2014 Mobbily S.A de C.V.<br />
				todos los derechos reservados.
			</p>
		</footer>
	</div>
</div>