<header class="[ header-front ]">
	<div class="[ wrapper ] [ shown--small ]">
		<div class="[ row ]">
			<div class="[ columna xmall-6 ][ menu__item ]">
				<i class="[ icon-imagotype ]"></i>
				<h1>
					<i class="[ icon-logotype ]"></i>
				</h1>
			</div>
			<div class="[ columna xmall-6 ] [ text-center ]">
				<a class="[ menu__item ]">
					<i class="[ icon-menu ]"></i>
				</a>
				<a class="[ menu__item ]">
					<i class="[ icon-cart ]"></i>
					<span class="[ notification notification__number ]">
						1
					</span>
				</a>
			</div>
		</div>
	</div>
</header>