<div class="[ notice ]">
	<div class="[ wrapper ]">
		<div class="[ row ]">
			<div class="[ columna xmall-6 ]">
				<a href="#" class="[ button button--ink ]">
					<i class="icon-couch"></i> quiero comprar
				</a>
			</div><!-- columna xmall-6 -->
			<div class="[ columna xmall-6 ]">
				<a href="#" class="[ button button--ink ]">
					<i class="icon-couch"></i> quiero comprar
				</a>
			</div><!-- columna xmall-6 -->
		</div><!-- row -->
	</div><!-- wrapper -->
</div><!-- notice -->
